@font-face {
    font-family: 'Programma';
    src: url('Programma.woff') format('woff');
}

a {
    border: 0;
    background-color: rgb(32, 32, 32);
    border: 0;
    font-family: Programma, monospace;
    font-size: 100%;
    font-weight: bold;
    resize: none;
}

a:link {
    text-decoration: none;
    color: rgb(192, 192, 192);
}

a:active {
    text-decoration: none;
    color: rgb(192, 192, 192);
}

a:hover {
    text-decoration: none;
    color: rgb(192, 192, 192);
}

a:visited {
    text-decoration: none;
    color: rgb(192, 192, 192);
}